<script
  integrity="sha384-65e2d82763cd4908efa2058fe79f420c07f4d906fc144e4ec9089caadcfff94859bad6ebc32afcec17bb34f1ff460c82"
  crossorigin="anonymous"
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script 
  integrity="sha384-c41b90ff1ce696c2e8269ca3a208264c4cfc396505334fd10b906ca900435f6bf970cbc31dc31a90d4cdac7216d88e5f"
  crossorigin="anonymous"
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
  crossorigin="anonymous"
  type="text/javascript"
  src="{{ "js/jquery.fitvids.js" | absURL}}"></script>

<script>hljs.initHighlightingOnLoad();</script>

{{ with .Site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script>
    var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{{ end }}
